<br />
<h2>About Us</h2>
<table width="90%">
  <tr>
    <td><%= image_tag("bicycle4.jpg", :alt => "Bike Repairs", class: "img-responsive center-block") %></td>
	<td><p>The bicycle you buy, and especially where you buy it, has a huge impact on your safety, comfort, and how much fun you have riding your bike! </p>
	<p>By purchasing your new bike from a professional bicycle store instead of from a supermarket or "discount" store, you receive numerous important advantages that will ensure a lifetime of cycling enjoyment.</p><p>If you need your bike fixed fast, you’ll want to bring it here. We offer a 48-hour guaranteed turnaround for all servicing and repairs. </p></td>
  </tr>	
</table>
<br />
<h3>You will find us here</h4>
<center><h3>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=900x600&sensor=false&zoom=16&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8&markers=#{53.3385578}%2C#{-6.2665737}" %>
</h3></center>
<br />
<p>Ruby on Rails Assignment - Student: Peter Purfield, C15723545</p>
<br />