<br />
<h2>About Us</h2>

<br />
<%= image_tag("bicycle4.jpg", :alt => "Bike Repairs", class: "img-responsive center-block") %>

<br />
<p>This page is under construction</p>
<br />

<h3>You will find us here</h4>
<center><h3>
  <%= image_tag "http://maps.google.com/maps/api/staticmap?size=900x600&sensor=false&zoom=16&key=AIzaSyA4BHW3txEdqfxzdTlPwaHsYRSZbfeIcd8&markers=#{53.3385578}%2C#{-6.2665737}" %>
</h3></center>

<br />

<p>Ruby on Rails Assignment - Student: Peter Purfield, C15723545</p>
<br />