<br />
<h2>About Us</h2>

<br />
<%= image_tag("bicycle4.jpg", :alt => "Bike Repairs", class: "img-responsive center-block") %>

<br />
<p>This page is under construction</p>
<br />

<h3>Customer Feedback</h3>
<h4>You are the first to give us feedback</h4>
<ul>
<li>All feedback goes here</li>
<li>and here</li>
</ul>

<br />
<br />

<p>Ruby on Rails Assignment - Student: Peter Purfield, C15723545</p>
<br />