<br />
<h2>Admin Page</h2>

<br />
<%= image_tag("bicycle6.jpg", :alt => "Bike Repairs", class: "img-responsive center-block") %>

<br />

<p>This page is under construction</p>
<br />
<br />
<br />
<br />

<p>Ruby on Rails Exercise - Student: Peter Purfield, C15723545</p>