<div class="footer"><div class="center">Staff Links: < 
<%= link_to 'Repairs', repairs_path %> | 
<%= link_to 'Customers', customers_path %> | 
<%= link_to 'Parts', parts_path %> | 
<%= link_to 'Job Status', jobs_path %> ><br />
<small>DT354-3 Web Development 2 - Ruby on Rails Assessment - 2018</small>
</div></div>